// @import "../utils/normalize.scss";

@font-face {
    font-family: "Exo-bold"; // 700
    src: url("../utils/fonts/exo/Exo2-Bold.ttf");
}

@font-face {
    font-family: "Exo-normal"; // 400
    src: url("../utils/fonts/exo/Exo2-Regular.ttf");
}

@font-face {
    font-family: "Exo-semi-bold"; // 500
    src: url("../utils/fonts/exo/Exo2-SemiBold.ttf");
}

$exo_bold: "Exo-bold", serif;
$exo_normal: "Exo-normal", serif;
$exo_semi-bold: "Exo-semi-bold", serif;

.container {
    padding-inline: 240px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;

    &_logo {
        display: flex;
        gap: 14px;
    }

    &_logo_img {
        width: 75px;
        height: 72px;
    }

    &_logo_text {
        width: 149px;
        height: 56px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        list-style: none;

        li {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
        }
    }

    a {
        color: rgba(0, 160, 70, 1);
        font-size: 20px;
        text-decoration: none;
        font-weight: 700;
    }
}

.adv {
    background-image: url('../assets/first_image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;

    &_left {
        display: flex;
        flex-direction: column;
        max-width: 800px;

        h1 {
            line-height: 69px;
            font-weight: 700;
            font-size: 46px;
            margin-bottom: 24px;
        }
    }

    &_sub {
        line-height: 36px;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 30px;
    }

    &_blocks {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 50px;
    }

    &_offer {
        font-weight: 700;
        font-size: 96px;
        color: #FFFFFF;
    }

    &_block {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &_price {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 700;
        position: relative;

        &::after {
            content: "";
            height: 1px;
            width: 90px;
            position: absolute;
            bottom: 25px;
            left: -15px;
            background-color: #fff;
        }
    }

    &_save {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00A046;
        width: 195px;
        height: 34px;
        font-size: 20px;
        font-weight: 700;
        color: transparent;
        
        span {
            background-color: #760303; /* Светлый цвет для стеклянного эффекта */
            background-clip: text;
        }
    }

    &_btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 3px solid #EB7D01;
        width: 217px;
        height: 60px;
        padding-top: 13px;
        border-radius: 0px;
        border-bottom: 0;
        box-sizing: border-box; 

        span {
            font-weight: 500px;
            font-size: 22px;
            color: #FFFFFF;
        }
    }

    &_img {
        display: block;
        max-width: none;
        position: relative;
        top: 2px;
    }
}

.com_second {
    width: 100%;
}

.second {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    &_top {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-bottom: 114px;
    }
}

// .custom-nav-slider .slick-prev,
// .custom-nav-slider .slick-next {
//   display: none !important;
// }

.slick-arrow::before {
    display: none;
}

.slick-prev {
    img {
        position: relative;
    }
}

.slick-next {
    img {
        position: relative;
        top: 360px;
    }
}

.slick-slide {
    img {
        width: 100px !important; 
        height: 100px;
        border-radius: 0px !important;
    }
}

@for $i from 0 through 5 {
    div[data-index="#{$i}"] {
        width: 700px;
        height: 700px;
    
        img {
            width: 100% !important;
            height: 100%;
        }
    }    
}

.slick-vertical {
    height: 768px;
}

.slick-list {
    height: 700px !important;
    display: flex;
    gap: 20px;
}

.slick-prev {
    display: block;
    cursor: pointer;
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
}

.slick-next {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    
    img {
        top: 380px;
    }
}

.second_info {
    display: flex;
    flex-direction: column;
    max-width: 580px;

    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 10px;
        font-family: $exo-bold;
    }
}

.second_subblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;

    > :nth-child(1) {
        font-size: 16px;
        font-weight: 400;
        color: #00A046;
        font-family: $exo-normal;
    }

    > :nth-last-child(1) {
        font-style: 18px;
        font-weight: 400;
        color: #FFFFFF;
    }
}

.stars-block {
    display: flex;
    gap: 12px;

    > :nth-last-child(1) {
        opacity: 50%;
    }
}

.stars {
    display: flex;
    gap: 2px;

    .star {
        background-image: url(../assets/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
    }
}

.second_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .second_wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;

        .second_offer {
            font-size: 32px;
            font-weight: 700;
            color: #FFFFFF;
        }

        .second_price {
            font-size: 24px;
            font-weight: 400;
            color: #4F4F4F;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 70px;
                height: 1px;
                position: absolute;
                bottom: 18px;
                background-color: #4F4F4F;
                left: -10px;
            }
        }
    }

    .second_warranty {
        display: flex;
        align-items: center;
        gap: 13px;
    
        .second_item {
            width: 30px;
            height: 30px;
        }
    
        span {
            font-size: 18px;
            font-weight: 400;
            color: #EB7D01;
        }
    }
}

.second_sale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #FF0000;
    margin-bottom: 40px;

    span {
        font-size: 20px;
        font-weight: 500;
        color: #171717;
        font-family: $exo-semi-bold;
    }
}

.second_sub {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 27px;
    margin-bottom: 30px;
}

.second_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 48px;
    width: 576px;
    height: 64px;
    position: relative;
    left: 36px;
    margin-bottom: 40px;

    li {
        width: 260px;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        position: relative;

        &::before {
            content: "";
            width: 9px;
            height: 9px;
            background-color: #00A046;
            position: absolute;
            transform: rotate(45deg);
            top: 35%;
            left: -30px;
            box-shadow: 
                0 0 5px 2px rgba(0, 160, 70, 0.4),    /* первая тень для слабого внутреннего свечения */
                0 0 10px 5px rgba(0, 160, 70, 0.3),   /* вторая тень для умеренного свечения */
                0 0 20px 10px rgba(0, 160, 70, 0.2);
        }
    }
}

.second_desr {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 50%;
    margin-bottom: 50px;
}

.down {
    transform: rotate(180deg);
}

.clicked {
    filter: brightness(0) invert(1);
}

.second_bottom {
    padding: 60px 60px;
    display: flex;
    gap: 60px;

    border: 1px solid #EB7D01;

    &_lf {
        display: flex;
        flex-direction: column;
        gap: 148px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 255px;

            li {
                font-size: 20px;
                font-weight: 700;
                font-family: $exo_bold;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        img {
            width: 255px;
            height: 255px;
        }
    }

    &_active {
        color: #00A046;
    }

    &_rg {
        max-width: 945px;

        p {
            line-height: 20px;
        
            > :nth-child(1) {
                font-size: 20px;
                font-weight: 700;
                color: #FFFFFF;
                font-family: $exo-bold;
                text-transform: uppercase;
            }

            > :nth-child(n + 2) {
                font-size: 18px;
                font-weight: 400;
                font-family: $exo_normal;
                color: #FFFFFF;
                line-height: 27px;
            }
        }
    }
}

.line {
    width: 1px;
    height: 583px;
    background-color: #EB7D01;
    display: block;
}

.com3 {
    width: 100%;
    margin-bottom: 150px;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: start;

    h2 {
        font-size: 32px;
        font-weight: 700;
        color: #FFFFFF;
        font-family: $exo_bold;
        margin-bottom: 60px;
    }

    &_top {
        display: flex;
        flex-direction: row;
        gap: 298px;
        align-self: flex-end;
        align-items: center;
        margin-bottom: 70px;
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 96px;
            font-weight: 700;
            color: #FFFFFF;
            font-family: $exo_bold;
            margin-bottom: 26px;
            align-self: center;
        }

        span {
            align-self: center;
            font-size: 22px;
            font-weight: 500;
            color: #FFFFFF;
            font-family: $exo_semi-bold;
            margin-bottom: 23px;
        }

        a {
            font-size: 24px;
            font-weight: 400;
            color: #FFFFFF;
            text-decoration: underline;
            font-family: $exo_normal;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;

        &_block {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            span {
                font-size: 22px;
                font-weight: 500;
                color: #FFFFFF;
                font-family: $exo_semi-bold;
            }

            .range {
                width: 698px;
                height: 8px;
                border-radius: 40px;
                background-color: #4F4F4F;
            }
        }

        > :nth-child(1) {
            .range {
                div {
                    width: 96%;
                    height: 100%;
                    border-radius: 40px;
                    background-color: #EB7D01;
                }
            }
        }

        > :nth-child(2) {
            .range {
                div {
                    width: 3%;
                    height: 100%;
                    border-radius: 40px;
                    background-color: #EB7D01;
                }
            }
        }
    }

    &_bottom {
        max-width: 1520px;
        height: 416px;
        margin-bottom: 150px;

        &_slide {
            max-width: 1440px;
            display: flex !important;
            flex-direction: row;
            gap: 21px;
        }

        &_comment {
            width: 466px;
            height: 346px;
            border: 0.5px solid #EB7D01;
            box-shadow: 0px 0px 20px 0px #EB7D0199;
            padding: 40px 20px 0;
            border-radius: 40px;

            p {
                margin-bottom: 30px;
                font-size: 18px;
                font-weight: 400;
                color: #FFFFFF;
                font-family: $exo_normal;
                line-height: 27px;
            }
        }

        &_wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;

            span {
                font-size: 18px;
                font-weight: 600;
                color: #FFFFFF;
                opacity: 40%;
            }
        }

        &_second_wrap {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 18px;
            font-weight: 400;
            color: #FFFFFF;
            font-family: $exo_normal;

            > :nth-child(2) {
                opacity: 50%;
            }
        }
    }
}

.stars .t {
    width: 34px;
    height: 34px;
}

.th {
    margin-bottom: 17px;
}

.slick-dots {
    position: relative;
    top: 400px;
}

.slick-dots li.slick-active button::before {
    opacity: .75;
    color: #EB7D01 !important;
}

// .slick-dots li button {
//     border: 1px solid #EB7D01 !important;
// }

.com-45 {
    width: 100%;
}

.com5 {
    margin-top: -60px;
    margin-bottom: 150px;
}

.forth {
    background-image: url('../assets/section4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 877px;
    margin-top: -60px;
    padding-top: 150px;
    padding-left: 240px;

    h2 {
        font-size: 46px;
        font-weight: 700;
        color: #00A046;
        font-family: $exo_bold;
        margin-bottom: 30px;
    }

    &_wrap {
        max-width: 800px;

        p {
            font-size: 24px;
            font-weight: 400;
            color: #FFFFFF;
            font-family: $exo_normal;
            margin-bottom: 40px;
        }

        ul {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                font-size: 24px;
                font-weight: 400;
                color: #FFFFFF;
                font-family: $exo_normal;
                margin-left: 44px;
                position: relative;
            }

            li::before {
                content: "";
                width: 9px;
                height: 9px;
                background-color: #00A046;
                position: absolute;
                transform: rotate(45deg);
                top: 35%;
                left: -30px;
                box-shadow: 
                    0 0 5px 2px rgba(0, 160, 70, 0.4),    /* первая тень для слабого внутреннего свечения */
                    0 0 10px 5px rgba(0, 160, 70, 0.3),   /* вторая тень для умеренного свечения */
                    0 0 20px 10px rgba(0, 160, 70, 0.2);
            }
        }
    }
}

.fiveth {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;

    &_video {
        height: 700px;
        width: 1440px;
        background: #0B0B0B66;
        box-shadow: 0px 0px 60px 0px #000000B2;
        position: absolute;
        z-index: 1;
    }

    &_cover {
        width: 1440px;
        height: 700px;
        z-index: 1000;
    }

    &_y_button {
        width: 90px;
        height: 60px;
        z-index: 100000;
        align-self: center;
        position: absolute;
        cursor: pointer;
    }

    // &::before {
    //     content: "";
    //     width: 90px;
    //     height: 60px;
    //     background-image: url(../assets/logos_youtube-icon.svg);
    //     position: absolute;
    //     display: block;
    //     top: 450px;
    //     z-index: 1000000;
    //     cursor: pointer;
    // }

    // &::after { 
    //     content: "";
    //     width: 1440px;
    //     height: 700px;
    //     background-image: url(../assets/video.svg);
    //     // background-size: cover;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     // top: 5345px;
    //     display: block;
    //     // background: rgba($color: #000000, $alpha: 0.9);
    //     z-index: 1000;
    // }

    // .ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) {
    //     z-index: 1000000 !important;
    // }
}

.none {
    display: none;
}

.relative {
    position: relative;
}

.ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) {
    z-index: 1000000 !important;
}

.six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;

    > :nth-child(even) {
        flex-direction: row-reverse !important;
    }

    .six_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 70px;

        &_wrap {
            display: flex;
            flex-direction: column;
            max-width: 660px;

            h3 {
                font-size: 32px;
                font-weight: 700;
                color: #EB7D01;
                font-family: $exo_bold;
                margin-bottom: 28px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                font-family: $exo_normal;
                margin-bottom: 28px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;

                li {
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                    font-family: $exo_normal;
                    position: relative;
                    right: -35px;
                }

                li::before {
                    content: "";
                    width: 9px;
                    height: 9px;
                    background-color: #00A046;
                    position: absolute;
                    transform: rotate(45deg);
                    top: 35%;
                    left: -30px;
                    box-shadow: 
                        0 0 5px 2px rgba(0, 160, 70, 0.4),    /* первая тень для слабого внутреннего свечения */
                        0 0 10px 5px rgba(0, 160, 70, 0.3),   /* вторая тень для умеренного свечения */
                        0 0 20px 10px rgba(0, 160, 70, 0.2);
                }
            }
        }

        img {
            width: 710px;
            height: 710px;
        }
    }

    > :nth-last-child(1) {
        margin-top: 40px;
    }
}
