// @import "../utils/normalize.scss";
@import "../utils/mixins.scss";

body {
    @include onBigTablet {
        zoom: 0.44;
    }

    @include onExtendedTablet {
        zoom: 0.5;
    }

    @include onBigDesktop {
        zoom: 0.625;
    }

    @include onDesktop {
        zoom: 0.75;
    }

    @include onExtendedDesktop {
        zoom: 0.83;
    }

    @include onBigDesktop {
        zoom: 0.625;
    }

    @include onFullHD {
        zoom: 1.1;
    }
}

@font-face {
    font-family: "Exo-bold"; // 700
    src: url("../utils/fonts/exo/Exo2-Bold.ttf");
}

@font-face {
    font-family: "Exo-normal"; // 400
    src: url("../utils/fonts/exo/Exo2-Regular.ttf");
}

@font-face {
    font-family: "Exo-semi-bold"; // 500
    src: url("../utils/fonts/exo/Exo2-SemiBold.ttf");
}

$exo_bold: "Exo-bold", serif;
$exo_normal: "Exo-normal", serif;
$exo_semi-bold: "Exo-semi-bold", serif;

.container {
    padding-inline: 240px;

    @include onMobile {
        padding-inline: 30px;
    }

    @include onTablet {
        padding-inline: 70px;
    }

    @include onBigDesktop {
        padding-inline: 150px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;

    &_logo {
        display: flex;
        gap: 14px;

        @include onTablet {
            zoom: 1.4;
        }

        @include onSmallTablet {
            zoom: 1.5;
        }

        @include onBigMobile {
            zoom: 1.6;
        }
    }

    img {
        height: 44px;
        width: 44px;
        cursor: pointer;

        @include onBigTablet {
            display: none;
        }
    }

    &_logo_img {
        width: 75px;
        height: 72px;
    }

    &_logo_text {
        width: 149px;
        height: 56px;
    }

    nav {
        @include onTablet {
            display: none;
        }

        @include onSmallTablet {
            display: none;
        }

        @include onBigMobile {
            display: none;
        }
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        list-style: none;

        li {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 700;
        }
    }

    a {
        color: rgba(0, 160, 70, 1);
        font-size: 20px;
        text-decoration: none;
        font-weight: 700;
    }
}

.adv {
    background-image: url('../assets/first_image.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;

    @include onTablet {
        padding-top: 60px;
    }

    @include onSmallTablet {
        padding-top: 50px;
    }

    @include onBigMobile {
        padding-top: 40px;
    }

    &_left {
        display: flex;
        flex-direction: column;
        max-width: 800px;

        h1 {
            line-height: 69px;
            font-weight: 700;
            font-size: 46px;
            margin-bottom: 24px;

            @include onTablet {
                zoom: 0.8;
                max-width: 700px;
            }

            @include onBigMobile {
                zoom: 0.6;
            }
        }
    }

    &_sub {
        line-height: 36px;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 30px;
    }

    &_blocks {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 50px;
        margin-bottom: 40px;
    }

    &_offer {
        font-weight: 700;
        font-size: 96px;
        color: #FFFFFF;
    }

    &_block {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &_price {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: 700;
        position: relative;

        &::after {
            content: "";
            height: 1px;
            width: 90px;
            position: absolute;
            bottom: 25px;
            left: -15px;
            background-color: #fff;
        }
    }

    &_save {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00A046;
        width: 195px;
        height: 34px;
        font-size: 20px;
        font-weight: 700;
        color: transparent;
        
        span {
            background-color: #760303; /* Светлый цвет для стеклянного эффекта */
            background-clip: text;
        }
    }

    &_btn {
        position: relative;
        background-image: url(../assets/shop_btn.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 60px;
        width: 215px;

        transition: ease linear 0.5s;

        span {
            font-weight: 500px;
            font-size: 22px;
            color: #FFFFFF;
        }

        &:hover {
            transform: scale(1.1);
            
            span {
                color: #FF0000;
            }
        }
    }

    &_img {
        display: block;
        max-width: none;
        position: relative;
        top: 2px;
    }
}

.com_second {
    width: 100%;
}

.second {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    &_top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
        margin-bottom: 114px;

        @include onTablet {
            flex-direction: column;
        }

        @include onSmallTablet {
            flex-direction: column;
            margin-bottom: 50px;
        }

        @include onBigMobile {
            flex-direction: column;
            margin-bottom: 30px;
        }
    }

    &_slider {
        @include onTablet {
            zoom: 0.74;
            margin-bottom: 30px;
        }

        @include onSmallTablet {
            zoom: 0.66;
        }

        @include onBigMobile {
            zoom: 0.6;
        }
    }
}

// .custom-nav-slider .slick-prev,
// .custom-nav-slider .slick-next {
//   display: none !important;
// }

.slick-arrow::before {
    display: none;
}

.slick-prev {
    img {
        position: relative;
    }
}

.slick-next {
    img {
        position: relative;
        top: 360px;
    }
}

.slick-slide {
    img {
        width: 100px !important; 
        height: 100px;
        border-radius: 0px !important;
    }
}

@for $i from 0 through 5 {
    div[data-index="#{$i}"] {
        width: 700px;
        height: 700px;
    
        img {
            width: 100% !important;
            height: 100%;
        }
    }    
}

.slick-vertical {
    height: 768px;
}

.slick-list {
    height: 700px !important;
    display: flex;
    gap: 20px;

    // @include onTablet {
    //     height: 1200px !important;
    // }
}

.slick-prev {
    display: block;
    cursor: pointer;
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
}

.slick-next {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    
    img {
        top: 380px;
    }
}

.second_info {
    display: flex;
    flex-direction: column;
    max-width: 580px;

    h2 {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        margin-bottom: 10px;
        font-family: $exo-bold;
    }

    @include onSmallTablet {
        zoom: 0.8;  
        padding-left: 30px;
    }

    @include onBigMobile {
        zoom: 0.7;
        padding-left: 20px;
    }
}

.second_subblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;

    > :nth-child(1) {
        font-size: 16px;
        font-weight: 400;
        color: #00A046;
        font-family: $exo-normal;
    }

    > :nth-last-child(1) {
        font-style: 18px;
        font-weight: 400;
        color: #FFFFFF;
    }
}

.stars-block {
    display: flex;
    gap: 12px;

    > :nth-last-child(1) {
        opacity: 50%;
    }
}

.stars {
    display: flex;
    gap: 2px;

    .star {
        background-image: url(../assets/star.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
    }
}

.second_blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    .second_wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;

        .second_offer {
            font-size: 32px;
            font-weight: 700;
            color: #FFFFFF;
        }

        .second_price {
            font-size: 24px;
            font-weight: 400;
            color: #4F4F4F;
            position: relative;

            &::after {
                content: "";
                display: block;
                width: 70px;
                height: 1px;
                position: absolute;
                bottom: 18px;
                background-color: #4F4F4F;
                left: -10px;
            }
        }
    }

    .second_warranty {
        display: flex;
        align-items: center;
        gap: 13px;
    
        .second_item {
            width: 30px;
            height: 30px;
        }
    
        span {
            font-size: 18px;
            font-weight: 400;
            color: #EB7D01;
        }
    }
}

.second_sale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: #FF0000;
    margin-bottom: 40px;

    span {
        font-size: 20px;
        font-weight: 500;
        color: #171717;
        font-family: $exo-semi-bold;
    }
}

.second_sub {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 27px;
    margin-bottom: 30px;
}

.second_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 48px;
    width: 576px;
    height: 64px;
    position: relative;
    left: 36px;
    margin-bottom: 40px;

    li {
        width: 260px;
        font-size: 18px;
        font-weight: 400;
        color: #FFFFFF;
        position: relative;

        &::before {
            content: "";
            width: 9px;
            height: 9px;
            background-color: #00A046;
            position: absolute;
            transform: rotate(45deg);
            top: 35%;
            left: -30px;
            box-shadow: 
                0 0 5px 2px rgba(0, 160, 70, 0.4),    /* первая тень для слабого внутреннего свечения */
                0 0 10px 5px rgba(0, 160, 70, 0.3),   /* вторая тень для умеренного свечения */
                0 0 20px 10px rgba(0, 160, 70, 0.2);
        }
    }
}

.second_desr {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 50%;
    margin-bottom: 50px;
}

.down {
    transform: rotate(180deg);
}

.clicked {
    filter: brightness(0) invert(1);
}

.second_bottom {
    padding: 60px 60px;
    display: flex;
    justify-content: center;
    gap: 60px;
    border: 1px solid #EB7D01;

    @include onTablet {
        flex-direction: column;
    }

    @include onSmallTablet {
        zoom: 0.7;
        padding: 30px 30px;
    }

    @include onBigMobile {
        zoom: 0.5;
    }

    &_lf {
        display: flex;
        flex-direction: column;
        gap: 148px;

        @include onTablet {
            flex-direction: row;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 255px;

            @include onTablet {
                gap: 50px;
            }

            li {
                font-size: 20px;
                font-weight: 700;
                font-family: $exo_bold;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        img {
            width: 255px;
            height: 255px;

            @include onBigMobile {
                display: none   ;
            }
        }
    }

    &_active {
        color: #00A046;
    }

    &_rg {
        max-width: 945px;

        p {
            line-height: 20px;
        
            > :nth-child(1) {
                font-size: 20px;
                font-weight: 700;
                color: #FFFFFF;
                font-family: $exo-bold;
                text-transform: uppercase;
            }

            > :nth-child(n + 2) {
                font-size: 18px;
                font-weight: 400;
                font-family: $exo_normal;
                color: #FFFFFF;
                line-height: 27px;
            }
        }
    }
}

.line {
    width: 1px;
    height: 583px;
    background-color: #EB7D01;
    display: block;

    @include onTablet {
        height: 1px;
        width: 100%;
    }

    // @include onBigMobile {
    //     height: 1px;
    //     width: 100%;
    // }
}

.com3 {
    width: 100%;
    margin-bottom: 150px;
}

.third {
    display: flex;
    flex-direction: column;
    align-items: start;

    // @include onTablet {
    //     align-items: center;
    // }

    h2 {
        font-size: 32px;
        font-weight: 700;
        color: #FFFFFF;
        font-family: $exo_bold;
        margin-bottom: 60px;
    }

    &_top {
        display: flex;
        flex-direction: row;
        gap: 298px;
        align-self: flex-end;
        align-items: center;
        margin-bottom: 70px;

        @include onTablet {
            flex-direction: column;
            gap: 100px;
            align-self: center;
        }

        @include onSmallTablet {
            flex-direction: column;
            gap: 40px;
            align-self: center;
        }

        @include onBigMobile {
            flex-direction: column;
            gap: 40px;
            align-self: center;
        }
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-size: 96px;
            font-weight: 700;
            color: #FFFFFF;
            font-family: $exo_bold;
            margin-bottom: 26px;
            align-self: center;
        }

        span {
            align-self: center;
            font-size: 22px;
            font-weight: 500;
            color: #FFFFFF;
            font-family: $exo_semi-bold;
            margin-bottom: 23px;
        }

        a {
            font-size: 24px;
            font-weight: 400;
            color: #FFFFFF;
            text-decoration: underline;
            font-family: $exo_normal;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 24px;
        align-self: center;

        @include onTablet {
            zoom: 0.7;
            align-items: center;
            align-self: center;
        }

        @include onSmallTablet {
            zoom: 0.6;
            align-items: center;
            align-self: center;
        }

        @include onBigMobile {
            zoom: 0.5;
        }

        &_block {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;

            @include onTablet {
                justify-content: center;
            }

            @include onSmallTablet {
                justify-content: center;
            }

            span {
                font-size: 20px;
                font-weight: 500;
                color: #FFFFFF;
                font-family: $exo_semi-bold;
                height: 33px;
                width: 69px;

                @include onTablet {
                    width: auto;
                }

                @include onSmallTablet {
                    width: auto;
                }

                @include onBigMobile {
                    width: auto;
                }
            }

            .range {
                width: 698px;
                height: 8px;
                border-radius: 40px;
                background-color: #4F4F4F;
            }
        }

        > :nth-child(1) {
            .range {
                div {
                    width: 96%;
                    height: 100%;
                    border-radius: 40px;
                    background-color: #EB7D01;
                }
            }
        }

        > :nth-child(2) {
            .range {
                div {
                    width: 3%;
                    height: 100%;
                    border-radius: 40px;
                    background-color: #EB7D01;
                }
            }
        }
    }

    &_bottom {
        max-width: 1520px;
        height: 416px;
        margin: 0 auto;
        margin-bottom: 150px;

        @include onTablet {
            zoom: 0.45;
            display: flex;
            // height: 2000px;
        }

        @include onSmallTablet {
            zoom: 0.4;
        }

        @include onBigMobile {
            zoom: 0.3;
            margin-bottom: 200px;
        }

        &_slide {
            max-width: 1440px;
            display: flex !important;
            flex-direction: row;
            gap: 21px;

            // @include onTablet {
            //     flex-direction: column;
            // }
        }

        &_comment {
            width: 466px;
            height: 346px;
            border: 0.5px solid #EB7D01;
            // box-shadow: 0px 0px 20px 0px #EB7D0199;
            box-shadow: 0px -20px 20px 0px transparent, 0px 20px 0px 0px #EB7D0199;
            padding: 40px 20px 0;
            border-radius: 40px;
            background-color: #000000;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;

            p {
                margin-bottom: 30px;
                font-size: 18px;
                font-weight: 400;
                color: #FFFFFF;
                font-family: $exo_normal;
                line-height: 27px;
            }
        }

        &_wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 24px;

            span {
                font-size: 18px;
                font-weight: 600;
                color: #FFFFFF;
                opacity: 40%;
            }
        }

        &_second_wrap {
            display: flex;
            flex-direction: column;
            gap: 4px;
            font-size: 18px;
            font-weight: 400;
            color: #FFFFFF;
            font-family: $exo_normal;

            > :nth-child(2) {
                opacity: 50%;
            }
        }
    }
}

.stars .t {
    width: 34px;
    height: 34px;
}

.th {
    margin-bottom: 17px;
}

.slick-dots {
    position: relative;
    top: 400px;

    @include onTablet {
        display: flex;
        left: 650px;
    }

    li button {
        height: 8px !important;
        width: 8px !important;
        border: 1px solid #EB7D01 !important; 
        border-radius: 50% !important;
    }

    li button::before {
        top: -3px !important;
        left: -3.5px !important;
    }
}

.slick-dots li.slick-active button::before {
    opacity: .75;
    color: #EB7D01 !important;
}

// .slick-dots li button {
//     border: 1px solid #EB7D01 !important;
// }

.com-45 {
    width: 100%;
}

.com5 {
    margin-top: -60px;
    margin-bottom: 150px;

    @include onTablet {
        margin-bottom: 60px;
    }

    @include onSmallTablet {
        margin-bottom: 30px;
    }

    @include onBigMobile {
        margin-bottom: 30px;
    }
}

.forth {
    background-image: url('../assets/section4.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 877px;
    margin-top: -60px;
    padding-top: 150px;
    padding-left: 240px;

    @include onTablet {
        zoom: 0.6;
        height: 800px;
        padding-left: 120px;
        margin-top: -40px;
        // margin-bottom: ;
    }

    @include onSmallTablet {
        zoom: 0.6;
        padding-left: 70px;
        margin-top: -30px;
    }

    @include onBigMobile {
        zoom: 0.5;
        padding-left: 70px;
        margin-top: -35px;
    }

    h2 {
        font-size: 46px;
        font-weight: 700;
        color: #00A046;
        font-family: $exo_bold;
        margin-bottom: 30px;
    }

    &_wrap {
        max-width: 800px;

        p {
            font-size: 24px;
            font-weight: 400;
            color: #FFFFFF;
            font-family: $exo_normal;
            margin-bottom: 40px;
        }

        ul {
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                font-size: 24px;
                font-weight: 400;
                color: #FFFFFF;
                font-family: $exo_normal;
                margin-left: 44px;
                position: relative;
            }

            li::before {
                content: "";
                width: 9px;
                height: 9px;
                background-color: #00A046;
                position: absolute;
                transform: rotate(45deg);
                top: 35%;
                left: -30px;
                box-shadow: 
                    0 0 5px 2px rgba(0, 160, 70, 0.4),    /* первая тень для слабого внутреннего свечения */
                    0 0 10px 5px rgba(0, 160, 70, 0.3),   /* вторая тень для умеренного свечения */
                    0 0 20px 10px rgba(0, 160, 70, 0.2);
            }
        }
    }
}

.fiveth {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;

    @include onTablet {
        zoom: 0.45;
        padding-top: 60px;
    }

    @include onSmallTablet {
        zoom: 0.4;
        padding-top: 60px;
    }

    @include onBigMobile {
        zoom: 0.35;
    }

    &_video {
        height: 700px;
        width: 1440px;
        background: #0B0B0B66;
        box-shadow: 0px 0px 60px 0px #000000B2;
        position: absolute;
        z-index: 1;
    }

    &_cover {
        z-index: 1000;
        position: relative;
        top: -59px;

        @include onTablet {
            width: 1560px;
            height: 900px;
            top: -75px;
        }

        @include onSmallTablet {
            width: 1560px;
            height: 900px;
            top: -75px;
        }

        @include onBigMobile {
            width: 1560px;
            height: 900px;
            top: -75px;
        }
    }

    &_y_button {
        width: 90px;
        height: 60px;
        z-index: 100000;
        align-self: center;
        position: absolute;
        cursor: pointer;
        top: 42%;

        @include onTablet {
            top: 38%;
        }

        @include onSmallTablet {
            top: 38%;
        }
    }
}

.none {
    display: none;
}

.relative {
    position: relative;
}

.ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) {
    z-index: 1000000 !important;
}

.six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;

    @include onTablet {
        zoom: 0.55;
    }

    @include onSmallTablet {
        zoom: 0.5;
        gap: 40px;
    }

    @include onBigMobile {
        zoom: 0.4;
    }

    > :nth-child(even) {
        flex-direction: row-reverse !important;
    }

    .six_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 70px;


        &_wrap {
            display: flex;
            flex-direction: column;
            max-width: 660px;

            h3 {
                font-size: 32px;
                font-weight: 700;
                color: #EB7D01;
                font-family: $exo_bold;
                margin-bottom: 28px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                color: #fff;
                font-family: $exo_normal;
                margin-bottom: 28px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;

                li {
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                    font-family: $exo_normal;
                    position: relative;
                    right: -35px;
                }

                li::before {
                    content: "";
                    width: 9px;
                    height: 9px;
                    background-color: #00A046;
                    position: absolute;
                    transform: rotate(45deg);
                    top: 35%;
                    left: -30px;
                    box-shadow: 
                        0 0 5px 2px rgba(0, 160, 70, 0.4),    /* первая тень для слабого внутреннего свечения */
                        0 0 10px 5px rgba(0, 160, 70, 0.3),   /* вторая тень для умеренного свечения */
                        0 0 20px 10px rgba(0, 160, 70, 0.2);
                }
            }
        }

        img {
            width: 710px;
            height: 710px;

            @include onSmallTablet {
                width: 400px;
                height: 400px;
            }

            @include onBigMobile {
                width: 400px;
                height: 400px;
            }
        }
    }

    > :nth-last-child(1) {
        margin-top: 40px;
    }
}

.seven {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    padding-bottom: 150px;

    @include onTablet {
        zoom: 0.5;
    }

    @include onSmallTablet {
        zoom: 0.47;
    }

    @include onBigMobile {
        zoom: 0.4;
    }

    h2 {
        font-size: 32px;
        font-weight: 700;
        color: #FFFFFF;
        font-family: $exo-bold;
        margin-bottom: 60px;
    }

    &_block {
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        position: relative;
        border: 1px solid #EB7D01;
        background-color: #000000;
        max-width: 1440px;

        @include onSmallTablet {
            flex-direction: column;
            align-self: auto;
        }

        @include onBigMobile {
            flex-direction: column;
            align-self: auto;
        }

        img {
            width: 450px;
            height: 450px;
            align-self: center;
        }

        > :nth-last-child(1) {
            font-size: 16px;
            font-weight: 600;
            color: #00A046;
            font-family: $exo-semi-bold;
            position: relative;
            margin-right: 50px;
            margin-top: 50px;

            @include onSmallTablet {
                position: absolute;
                left: 90%;
                font-size: 20px;
            }

            @include onBigMobile {
                position: absolute;
                left: 90%;
                font-size: 20px;
            }
    
            &::before {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background-color: #00A046;
                border-radius: 50%;
                position: absolute;
                top: 8px;
                left: -18px;
            }
        }
    }

    &_sale_block {
        width: 100px;
        height: 30px;
        background-color: #FF0000;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;

        p {
            font-size: 20px;
            font-weight: 700;
            color: #FFFFFF;
            font-family: $exo_bold;
        }
    }

    &_right {
        height: 100%;
        padding-top: 47px;
        padding-bottom: 47px;

        @include onSmallTablet {
            align-self: center;
        }

        @include onBigMobile {
            align-self: center;
        }

        h3 {
            font-size: 32px;
            font-weight: 700;
            color: #EB7D01;
            font-family: $exo_bold;
            margin-bottom: 20px;
            max-width: 700px;
        }

        p {
            font-size: 24px;
            font-weight: 400;
            color: #FFFFFF;
            font-family: $exo-normal;
            margin-bottom: 20px;
            max-width: 700px;
        }
    }

    &_blocks {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: space-between;
        align-items: center;
        width: 392px;
        margin-bottom: 40px;

        > :nth-child(1) {
            font-size: 32px;
            font-weight: 700;
            color: #FFFFFF;
            font-family: $exo_bold;
        }

        > :nth-child(2) {
            font-size: 24px;
            font-weight: 400;
            color: #4F4F4F;
            font-family: $exo_normal;
            position: relative;

            &::after {
                content: "";
                width: 70px;
                height: 1px;
                display: block;
                position: absolute;
                bottom: 15px;
                left: -12px;
                background-color: #4F4F4F;
            }
        }

        div {
            width: 195px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;    
            font-size: 20px;
            font-weight: 700;
            color: #171717;
            font-family: $exo_bold;
            background-color: #00A046;
        }
    }
}

.seven_block .adv_img {
    width: 217px;
}

footer {
    background-color: #000000;

    @include onTablet {
        zoom: 0.5;
    }

    @include onSmallTablet {
        zoom: 0.8;
    }

    @include onBigMobile {
        zoom: 0.6;
    }
}

.footer_wrap {
    display: flex;
    flex-direction: row;
    gap: 146px;
    align-items: start;
    background-color: #000000;
    padding-top: 120px;     

    @include onSmallTablet {
        flex-direction: column;
        gap: 60px;
    }

    @include onBigMobile {
        flex-direction: column;
        gap: 60px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            font-size: 20px;
            font-weight: 700;
            color: #FFFFFF;
            font-family: $exo-bold;
        }
    }
}

.footer_logo {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
    // padding-left: 240px;

    > :nth-child(1) {
        width: 75px;
        height: 72px;
    }

    > :nth-child(2) {
        width: 149px;
        height: 56px;
    }
}

.footer_block {
    p {
        font-size: 20px;
        font-weight: 700;
        color: #FFFFFF;
        font-family: $exo_bold;
        font-size: 25px;
        margin-bottom: 25px;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 38px;

        li {
            width: 50px;
            height: 50px;
            transition: ease linear 0.5s;
            cursor: pointer;
            
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.footer_copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105px;
    background: #000000;
    border-top: 1px solid #4F4F4F;
    margin-top: 84px;

    p {
        font-size: 18px;
        font-weight: 400;
        color: #4F4F4F;
        font-family: $exo_normal;

        span {
            color: #828282 !important;
        }
    }
}

.com-45 {
    width: 100%;
    max-width: none;
}

.com5 {
    @include onTablet {
        margin-top: -25px;
    }

    @include onSmallTablet {
        margin-top: -20px;
    }

    @include onBigMobile {
        margin-top: -20px;
    }
}

.comment_wrap {
    display: flex;
    flex-direction: column;
    gap: 0;

    img {
        width: 466px;
        margin-top: -30px;
        // border: 0.5px solid #EB7D01;
    }
}