
.slick-arrow::before {
    display: none;
}

.slick-prev {
    img {
        position: relative;
    }
}

.slick-next {
    img {
        position: relative;
        top: 360px;
    }
}

.slick-slide {
    img {
        width: 100px !important; 
        height: 100px;
        border-radius: 0px !important;
    }
}

@for $i from 0 through 5 {
    div[data-index="#{$i}"] {
        width: 700px;
        height: 700px;
    
        img {
            width: 100% !important;
            height: 100%;
        }
    }    
}

.slick-vertical {
    height: 768px;
}

.slick-list {
    height: 700px !important;
    display: flex;
    gap: 20px;
}

.slick-prev {
    display: block;
    cursor: pointer;
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
}

.slick-next {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    
    img {
        top: 380px;
    }
}